{% extends "common/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
{% load exercises_tags %}
{% load ui %}

{% block title %}{% trans 'Create your account' %}{% endblock %}
{% block meta_description %}
    {% trans 'The Street Workout Database leader on the body weight exercises. Create your account now!' %}
{% endblock %}
{% block meta_keywords %}{% endblock %}

{% block main_menu_exercises_active %}
<li class="dropdown active">
{% endblock %}

{% block content %}
    <div class="concentrate">
        <h1>{% trans 'Now your are a' %} <strong>{% trans 'badass' %}!</strong></h1>
        <p>{% trans 'Your are now registred and logged in' %}</p>
    </div>
{% endblock %}