/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*
--- General description ---
separator: #E7E7E7
*/
/*-----------------
 Global
-----------------*/
.main-content {
    padding-top: 1%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
}
.main-footer {
    clear:both;
    border-top: 1px solid #E7E7E7;
    padding: 30px;
    background-image: url("../img/design/brand-xs.png");
    background-repeat: no-repeat;
    background-position: center;
    color: #767676;
}

.main-footer .footer-col {
    margin-left: 30px;
    margin-right: 30px;
}

.main-footer li {
    display: inline-block;
    margin-right: 10px;
}

#information-message {
    width: 80%;
    margin: auto;
}

/*-----------------
 Misc
-------------------*/
.right {
    float: right;
}

.left {
    float: left;
}

.dropdown-menu > li > span {
    padding: 3px 20px;
    color: gray;
}

.rounded-corner {
    border-radius: 25px;
}

.text-xl {
    font-size: 16px;
}

area:hover {
    cursor: pointer;
}

/**********************************************
Images
***********************************************/
.img-xs {
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 80px;
}

.img-xs-min-width {
    width: 100px;
}

.img-xl {
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.img-xxl {
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.img-xxxl {
    height: 500px;
    max-width: 550px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.small-background-opacity {
    background-color: rgba(250, 250, 250, 0.7);
}

.easy-level-color {
    background-color: #5cb85c;
}

.medium-level-color {
    background-color: #f0ad4e;
}

.hard-level-color {
    background-color: #d9534f;
}

.label-easy {
    background-color: #5cb85c;
}

.label-medium {
    background-color: #f0ad4e;
}

.label-hard {
    background-color: #d9534f;
}

.diagonal-label {
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

.superposition {
    position: absolute;
    top: 0px;
    left: 0px;
}

#exercises-list {
    margin-top: 20px;
    width: 90%;
}

#exercises-grid {
    margin-top: 20px;
    width: 90%;
}

#sticky-main-menu {
    display: none;
    position: fixed;
    top: 20px;
    right: 10px;
}

.fixed {
    position: fixed;
    right: 10px;
}

.grid-item {
    height: 150px;
}
.margin {
    margin: 20px;
}
.margin-bottom-xs {
    margin-bottom: 10px;
}
.padding-bottom-xl {
    padding-bottom: 20px;
}
.border-left-gray {
    border-left: thin double #CCCCCC;
    padding-left : 25px;
}
.border-bottom-gray {
    border-bottom: thin double #CCCCCC;
    padding-bottom : 10px;
}
.img-medium {
    width: 50px;
    height: 50px;
}
.small {
    max-height: 60px;
}
.medium {
    max-height: 120px;
}
.underline {
    text-decoration: underline;
}

.bg-white {
    background-color: white;
}
/************************************************
Margin and spacing
************************************************/
/* Right space between li element */
.nav-li-space-right {
    margin-right: 5px;
}

.no-margin-left {
    margin-left: 0px;
}

.no-margin-right {
    margin-right: 0px;
}

.no-margin-left-right {
    margin-left: 0px;
    margin-right: 0px;
}

.margin-top-xs {
    margin-top: 10px;
}

.margin-top-xl {
    margin-top: 20px;
}

.margin-top-xxl {
    margin-top: 40px;
}

.grid-list-gallery .panel-footer {
    margin-top: 80px;
    background-color: rgba(250, 250, 250, 0.7);
}

.grid-list-gallery .grid {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.margin-right-xs {
    margin-right: 10px;
}

.no-margin {
    margin: 0px;
}

.no-padding {
    padding: 0px;
}

.no-padding-left {
    padding-left: 0px;
}

.padding-top-xs {
    padding-top: 10px;
}

.padding-top-l {
    padding-top: 15px;
}

.padding-top-xl {
    padding-top: 20px;
}

.padding-bottom-xs {
    padding-bottom: 10px;
}

.padding-bottom-xl {
    padding-bottom: 20px;
}

.padding-right-xs {
    padding-right: 10px;
}

.left-spaced-xl {
    margin-left: 20px;
}

.left-spaced-xs {
    margin-left: 5px;
}

.right-spaced-xl {
    margin-right: 20px;
}

.right-spaced-xs {
    margin-right: 5px;
}

.margin-bottom-xs {
    margin-bottom: 5px;
}

.margin-bottom-xl {
    margin-bottom: 10px;
}

.margin-bottom-xxl {
    margin-bottom: 20px;
}

.padding-xl {
    padding: 20px;
}

.no-overflow {
    overflow: hidden;
}

.inline-block {
    display: inline-block;
}

/****************************************************
Colors
****************************************************/
/* Background color */
.bg-gray {
    background-color: #adadad;
}

/* Foreground color use it for texts*/
.fg-white {
    color : white;
}












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
