{% load i18n %}
<nav class="margin-bottom-xl">
    <ul class="nav nav-pills">
        {% if active == "description" %}
            <li role="presentation" class="active">
        {% else %}
            <li role="presentation">
        {% endif %}
            <a href="{% url 'exercises_category' slug=category.slug %}" class="list-group-item">
                {% trans "Description" %}
            </a>
        </li>
        {% comment %}***** exercises link *****{% endcomment %}
        {% if total_exercises > 0 %}
            {% if active == "exercises" %}
                <li role="presentation" class="active">
            {% else %}
                <li role="presentation">
            {% endif %}
                <a href="{% url 'exercises_category_exercises' slug=category.slug %}" class="list-group-item">
                    {% trans "Exercises" %}
                    <span class="badge badge-success left-spaced-xs">{{ total_exercises }}</span>
                </a>
            </li>
        {% endif %}
        {% comment %}***** images link *****{% endcomment %}
        {% if total_images > 0 %}
            {% if active == "images" %}
                <li role="presentation" class="active">
            {% else %}
                <li role="presentation">
            {% endif %}
                <a href="{% url 'exercises_category_images' slug=category.slug %}" class="list-group-item">
                    {% trans "Images" %}
                    <span class="badge badge-success left-spaced-xs">{{ total_images }}</span>
                </a>
            </li>
        {% endif %}
        {% comment %}***** videos link *****{% endcomment %}
        {% if total_videos > 0 %}
            {% if active == "videos" %}
                <li role="presentation" class="active">
            {% else %}
                <li role="presentation">
            {% endif %}
                <a href="{% url 'exercises_category_videos' slug=category.slug %}" class="list-group-item">
                    {% trans "Videos" %}
                    <span class="badge badge-success left-spaced-xs">{{ total_videos }}</span>
                </a>
            </li>
        {% endif %}
        {% comment %}***** muscles link *****{% endcomment %}
        {% if active == "Muscles" %}
            <li role="presentation" class="active">
        {% else %}
            <li role="presentation">
        {% endif %}
            <a href="{% url 'exercises_category_muscles' slug=category.slug %}" class="list-group-item">
                {% trans "Muscles" %}
                <span class="badge badge-success left-spaced-xs">{{ category.muscles.all|length }}</span>
            </a>
        </li>
    </ul>
</nav>