{% load i18n %}
{% load staticfiles %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}

{% if mapping %}
    <section class="right right-spaced-xl left-spaced-xl well well-lg padding-xl" id="muscles">
        <script>
            {% for muscle in muscles_list %}
                {% if muscle.area %}
                    {% for area in muscle.area %}
                        {% if area.mapping == mapping %}
                            {% if forloop.first %}
                                var gallery_content = '{' +
                            {% endif %}
                            '"{{ area.name }}" : {"image1" : "{% get_media_prefix %}{{ area.first_image_hover }}", ' +
                            '"image2" : "{% get_media_prefix %}{{ area.second_image_hover }}", ' +
                            '"muscle" : "{{ muscle.muscle }}"}' +
                            {% if not forloop.last %}
                                ',' +
                            {% else %}
                                '}';
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}

            {% for muscle in muscles_list %}
                {% if muscle.area %}
                    {% for area in muscle.area %}
                        {% if area.mapping == mapping %}
                            {% if forloop.first %}
                                var reverse_gallery_content = '{' +
                            {% endif %}
                            '"{{ muscle.muscle }}" : {"image1" : "{% get_media_prefix %}{{ area.first_image_hover }}", ' +
                            '"image2" : "{% get_media_prefix %}{{ area.second_image_hover }}", ' +
                            '"area" : "{{ area.name }}"}' +
                            {% if not forloop.last %}
                                ',' +
                            {% else %}
                                '}';
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </script>
        <div class="panel-body"
             style="background: url('{% get_media_prefix %}{{ mapping.image }}') no-repeat;
                     min-height: {{ mapping.height }}px;
                     width: {{ mapping.width }}px;
                     position: relative;">
            {% for muscle in muscles_list %}
                {% if muscle.area %}
                    {% for area in muscle.area %}
                        {% if area.mapping == mapping %}
                            <img src="{% get_media_prefix %}{{ area.first_image_hover }}"
                                 class="superposition hand-cursor"
                                 id="{{ area.name }}_img"
                                 style="z-index: {{ forloop.counter }};"/>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}

            <img usemap="#{{ mapping.name }}" alt="{{ mapping.alt }}"
                 style="z-index: 1000; min-height: {{ mapping.height }}; width: {{ mapping.width }};"
                 class="superposition"
                 src="{% get_media_prefix %}{{ mapping.transparent_image }}">

            <map name="{{ mapping.name }}">
                {% for muscle in muscles_list %}
                    {% if muscle.area %}
                        {% for area in muscle.area %}
                            {% if area.mapping == mapping %}
                                <area shape="poly"
                                      href="{% url 'exercises_muscle' slug=muscle.muscle.slug %}"
                                      coords="{{ area.points }}"
                                      id="{{ area.name }}"
                                      class="mapping_area">
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </map>
        </div>
        <p>
            {% for muscle in muscles_list %}
                <a id="{{ muscle.muscle }}_link"
                   class="btn btn-xs btn-success muscle-link"
                   href="{% url 'exercises_muscle' slug=muscle.muscle.slug %}">{{ muscle.muscle }}</a>
            {% endfor %}
        </p>
    </section>
{% endif %}