{% extends "common/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
{% load common_tags %}

{% block title %}{% trans "All About The Street Workout Database" %}{% endblock %}
{% block meta_description %}
    {% trans "All About The Street Workout Database. Hervé Beraud was the CEO, main founder, technical lead and lead developer" %}
{% endblock %}
{% block meta_keywords %}
    {% trans "About us, hervé beraud, beraud, CEO, founder, technical lead, lead developer" %}{{ muscle }}
{% endblock %}

{% block style %}
    .main-content {
        margin: 0 auto;
        width: 996px;
    }
{% endblock %}

{% block content %}
<h1>{% trans "About us" %}</h1>
<!--<img class="left img-xl img-circle " src="{% static 'img/design/myself.png' %}">-->
<h2>Team</h2>
<img src="{% static 'img/design/myself.png' %}"
     alt="{% trans 'Hervé Beraud CEO, founder, technical lead of The Street Workout Database' %}"
     class="img-xl img-thumbnail right">
<h3>Hervé BERAUD ({% trans 'CEO, founder, technical lead' %})</h3>
<p class="text-justify">
    <strong>Hervé Beraud</strong>{% blocktrans %} is the CEO and the founder of The Street Workout Database,
    a community who practice
    Street Workout and Fitness. He is responsible for the company's overall vision and strategy as
    well as day-to-day operations.
    {% endblocktrans %}
</p>
<p class="text-justify">
    {% blocktrans %}
    Since the beginning, Kevin has focused on simplicity and inspiring creativity through solving
    problems with thoughtful product design.
    As a result, The Street Workout has become the home for passionate who practice body weight exercises.
    Everyone can find a lot of exercises related to his level and share with his friends.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans %}
    The Street Workout Database place focus on muscular groups and classify exercises by categories.
    {% endblocktrans %}
</p>
    {% blocktrans %}
    A few words of the creator : <i>"Hi everybody ! I've created this website to share my passion and my hobby. I hope you
    found pleasure to use our product. Thanks to visit us, enjoy and have fun !"</i>
    {% endblocktrans %}
</p>
{% endblock %}