{% extends "common/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
{% load common_tags %}

{% block title %}{% trans "Welcome To The Street Workout Database" %}{% endblock %}
{% block meta_description %}
    {% trans "The Street Workout Database" %}
{% endblock %}
{% block meta_keywords %}
    {% trans "muscle, exercises, exercise, " %}{{ muscle }}
{% endblock %}

{% block style %}
    .navbar {
        margin-bottom: 0px;
    }

    .main-content {
        padding-left: 0px;
        padding-right: 0px;
    }

    .jumbotron {
        padding-left: 2%;
        padding-right: 2%;
        background-image: url('{% static "img/design/index4.jpg" %}');
        background-color: black;
        background-repeat: no-repeat;
        background-size: 40% 100%;
        background-position: right;
        color: white;
    }
{% endblock %}


{% block content %}
<div class="jumbotron">
    <h1>Here you build your body !</h1>
    <p>Already {{ exercises_number }} referenced exercise{{ exercises_number|pluralize }}</p>
    <p>
        <a class="btn btn-primary btn-lg" href="{% url 'exercises_categories' %}" role="button">
            Find exercises by categories
        </a>
        <a class="btn btn-danger btn-lg" href="{% url 'exercises_muscles' %}" role="button">
            Find exercises by muscles
        </a>
    </p>
</div>
<div class="text-center">
    <h2>Retrieve a large variety of body weight exercises</h2>
    <img src="{% static 'img/design/index1.jpg' %}" class="img-circle img-xl"/>
    <img src="{% static 'img/design/index2.jpg' %}" class="img-circle img-xl"/>
    <img src="{% static 'img/design/index3.jpg' %}" class="img-circle img-xl"/>
    <p class="text-xl padding-top-xl">The Street Workout Database is built by an enthusiast for enthusiasts</p>
</div>
{% endblock %}