{% extends "common/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
{% load exercises_tags %}

{% block title %}{{ exercise|capfirst }} {% trans "Exercise" %}{% endblock %}
{% block meta_description %}{{ exercise.common_page_attribute.description }}{% endblock %}
{% block meta_keywords %}{{ exercise.common_page_attribute.keywords }}{% endblock %}

{% block main_menu_exercises_active %}
<li class="dropdown active">
{% endblock %}

{% block content %}
    {% comment %}
    <ol class="breadcrumb">
        <li><a href="{% url 'exercises_categories' %}">{% trans "Categories" %}</a></li>
        <li>{{ category|capfirst }}</li>
        <li class="active">{% trans "Description" %}</li>
    </ol>
    {% endcomment %}

    <h1>{{ exercise|capfirst }}
        <span class="label label-{{ exercise.level }}">{{ exercise.level }}</span>
        <small>
            <a href="{% url "exercises_category_exercises" slug=exercise.category.slug %}">
                ({{ exercise.category }} category)
            </a>
        </small>
    </h1>
    {% show_exercise_menu exercise "description" %}

    {% if main_exercise_set %}
        {% for set in main_exercise_set %}
            {% if forloop.first %}
            <div class="margin col-md-3 right border-left-gray rise">
                <h3 class="text-right sub-section-title">{% trans "How to do a" %} {{ exercise }} ?</h3>
            {% endif %}
                <div class="row margin-bottom-xs grid blur-out"
                     style="background-image: url('{% get_media_prefix %}{{ set.step.image }}');
                            background-repeat: no-repeat;
                            background-size: 100% 100%;
                            background-position: center;">
                    <div class="col-md-3 medium padding-top-xl">
                        <svg>
                            <circle
                                    cx="25"
                                    cy="25"
                                    r="20"
                                    stroke="gray"
                                    stroke-width="1"
                                    fill="{% cycle "#FF0200" "#FF3600" "#FE7500" "#FFAE00" "#FEE000" "#F4FF00" "#BCFE00" "#7FFF00" %}" />
                            <text x="17" y="35" font-size="30" fill="black" >{{ forloop.counter }}</text>
                        </svg>
                    </div>
                    <div class="col-sm-9 text-right padding-top-xs">
                        <a class="btn btn-default show-step-description"
                           role="button" data-toggle="collapse" href="#collapseDescription{{ forloop.counter0 }}"
                           aria-expanded="false" aria-controls="collapseDescription{{ forloop.counter0 }}"
                           id="collapseStepBtn{{ forloop.counter0 }}">
                            <span id="collapseStepBtnSpan{{ forloop.counter0 }}"
                                  class="glyphicon glyphicon-resize-full"></span>
                        </a>
                    </div>
                </div>
                <div id="collapseDescription{{ forloop.counter0 }}" class="collapse">
                    <div class="well text-justify">
                        <h5><strong>{{ set.step.name }}</strong></h5>
                        <p class="break-words">{{ set.step.description }}</p>
                    </div>
                </div>
            {% if forloop.last %}
                </div>
            {% endif %}
            <script>
                $(".show-step-description").click(function(event){
                    var id = event.target.id.substr(event.target.id.length - 1);
                    var class_type = "glyphicon glyphicon-resize-small";
                    console.log("#collapseDescription" + id);
                    console.log($("#collapseDescription" + id).attr("class"));
                    if ("collapse in" == $("#collapseDescription" + id).attr("class")) {
                        class_type = "glyphicon glyphicon-resize-full";
                    }
                    $("#collapseStepBtnSpan" + id).attr("class", class_type);
                });
            </script>
        {% endfor %}
    {% endif %}

    {% show_muscles_mapping exercise %}
    {% comment %}{% if main_image %}
        <section class="right right-spaced-xl panel panel-default padding-xl left-spaced-xl" id="media">
            <img class="img-xl"
                 src="{% get_media_prefix %}{{ main_image.image }}"
                 alt="{{ main_image.alt }}"
                 title="{{ main_image.name }}" />
        </section>
    {% endif %}{% endcomment %}

    <section id="description">
        <p class="text-justify text-xl">{{ exercise.description|capfirst }}</p>
    </section>

    {% if exercise.related_exercises.all %}
        <hr>
        <section id="related-exercise right">
            <h4><u>{% trans "Related Exercises" %}</u></h4>
            {% for related_exercise in exercise.related_exercises.all %}
                {% if related_exercise.active %}
                    <div class="col-md-3
                                no-padding-left
                                padding-top-xs
                                {{ related_exercise.level }}">
                        <section id="{{ related_exercise.slug }}" class="panel panel-default grid"
                            {% for image in related_exercises_image %}
                                {% if image.binding == related_exercise %}
                                    style="background-image: url('{% get_media_prefix %}{{ image.image }}');"
                                {% endif %}
                            {% endfor %}>
                            <div class="btn-group right padding-bottom-xl"
                                 role="group" aria-label="exercise-explorer">
                                <a href="{% url 'exercise_how_to' slug=related_exercise.slug %}"
                                   title="{% trans "How-to" %}"
                                    data-toggle="tooltip" data-placement="right"
                                   class="btn btn-default">
                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                </a>
                                <a href="{% url 'exercise_videos' slug=related_exercise.slug %}"
                                   title="{% trans 'videos' %}"
                                    data-toggle="tooltip" data-placement="right"
                                   class="btn btn-default">
                                    <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                                </a>
                                <a href="{% url 'exercise_images' slug=related_exercise.slug %}"
                                   title="{% trans 'Images' %}"
                                    data-toggle="tooltip" data-placement="right"
                                   class="btn btn-default">
                                    <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                                </a>
                            </div>
                            <span class="left diagonal-label padding-top-xl">
                                {% if related_exercise.level == "easy" %}
                                    <span class="btn btn-success btn-xs"
                                          title="{% trans 'For all' %}">
                                        {% trans 'Easy Level' %}
                                    </span>
                                {% elif related_exercise.level == "medium" %}
                                    <span class="btn btn-warning btn-xs"
                                          title="{% trans 'For anyone intermediate and people of advanced level' %}">
                                        {% trans 'Medium Level' %}
                                    </span>
                                {% else %}
                                    <span class="btn btn-danger btn-xs"
                                          title="For people of advanced level">
                                        {% trans 'Hard Level' %}
                                    </span>
                                {% endif %}
                            </span>
                            <div class="panel-footer">
                                <h4>
                                    <button type="button" class="btn btn-default right"
                                        title="{% trans 'Description' %}"
                                        data-toggle="popover"
                                        data-content="{{ related_exercise.description|truncatewords:15 }}">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>
                                    <a href="{% url 'exercise' slug=related_exercise.slug %}">
                                        {{ related_exercise.name|capfirst }}
                                    </a>
                                </h4>
                            </div>
                        </section>
                    </div>
                {% endif %}
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}<!-- End Content -->