{% extends "common/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
{% load exercises_tags %}

{% block title %}{{ exercise|capfirst }} {% trans "Exercise" %}{% endblock %}
{% block meta_description %}{{ exercise.common_page_attribute.description }}{% endblock %}
{% block meta_keywords %}{{ exercise.common_page_attribute.keywords }}{% endblock %}

{% block main_menu_exercises_active %}
<li class="dropdown active">
{% endblock %}

{% block content %}
    {% comment %}
    <ol class="breadcrumb">
        <li><a href="{% url 'exercises_categories' %}">{% trans "Categories" %}</a></li>
        <li>{{ category|capfirst }}</li>
        <li class="active">{% trans "Description" %}</li>
    </ol>
    {% endcomment %}
    <h1>{{ exercise|capfirst }} <span class="label label-{{ exercise.level }}">{{ exercise.level }}</span></h1>

    {% comment %}{% show_exercises_category_menu category "description" %}{% endcomment %}



    {% if main_exercise_set %}
        <section class="right right-spaced-xl well well-lg padding-xl left-spaced-xl col-md-4" id="media">
            <h2>{% trans "How to do a" %} {{ exercise.name }} ?</h2>
            {% regroup main_exercise_set.steps.all by main_exercise_set.steps.index as steps %}
            {% comment %}{% for step in main_exercise_set.steps.all %}
                {% if forloop.first %}
                    <ul class="list-unstyled">
                {% endif %}
                <li class="padding-top-xs">
                    <svg height="50" width="50" class="left">
                        <g>
                            {% cycle "#FFFF00" "#FF3300" "#6699FF" "#FFFF66" "#FF3300" as fillcolor %}
                            <circle cx="25" cy="25" r="20" stroke="black" stroke-width="1" fill="{{ fillcolor }}" />
                            <text x="33%" y="33" font-size="25" fill="black">{{ step.index }}</text>
                            Sorry, your browser does not support inline SVG.
                        </g>
                    </svg>
                    <img src="{% get_media_prefix %}{{ step.image }}" class="right img-xs">
                    <strong>{{ step.name }}</strong><br>
                    {{ step.description }}
                </li>
                {% if forloop.last %}
                    </ul>
                {% endif %}
            {% endfor %}{% endcomment %}

            {% for set in main_exercise_set %}
                {% if forloop.first %}
                    <ul class="list-unstyled">
                {% endif %}
                <li class="padding-top-xs padding-bottom-xl">
                    <svg height="50" width="50" class="left">
                        <g>
                            {% cycle "#FFFF00" "#FF3300" "#6699FF" "#FFFF66" "#FF3300" as fillcolor %}
                            <circle cx="25" cy="25" r="20" stroke="black" stroke-width="1" fill="{{ fillcolor }}" />
                            <text x="33%" y="33" font-size="25" fill="black">{{ set.position_step }}</text>
                            Sorry, your browser does not support inline SVG.
                        </g>
                    </svg>
                    <img src="{% get_media_prefix %}{{ set.step.image }}" class="right img-xs ">
                    <strong>{{ set.step.name }}</strong><br>
                    {{ step.step.description }}
                </li>
                {% if forloop.last %}
                    </ul>
                {% endif %}
            {% endfor %}
        </section>
    {% endif %}

    {% show_muscles_mapping exercise %}

    {% comment %}{% if main_image %}
        <section class="right right-spaced-xl panel panel-default padding-xl left-spaced-xl" id="media">
            <img class="img-xl"
                 src="{% get_media_prefix %}{{ main_image.image }}"
                 alt="{{ main_image.alt }}"
                 title="{{ main_image.name }}" />
        </section>
    {% endif %}{% endcomment %}

    <section id="description">
        <p class="text-justify text-xl">{{ exercise.description|capfirst }}</p>
    </section>

    {% if exercise.related_exercise.all %}
        <hr>
        <section id="related-exercise">
            <h4><u>{% trans "Related Exercises" %}</u></h4>
            {% for related_exercise in exercise.related_exercise.all %}
                <a href="{% url 'exercises_exercise' slug=related_exercise.slug %}"
                class="btn btn-success">{{ related_exercise|capfirst }}</a>
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}<!-- End Content -->