{% extends "common/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
{% load common_tags %}

{% block title %}{% trans "Welcome To The Street Workout Database" %}{% endblock %}
{% block meta_description %}
    {% trans "The Street Workout Database" %}
{% endblock %}
{% block meta_keywords %}
    {% trans "muscle, exercises, exercise, " %}{{ muscle }}
{% endblock %}

{% block style %}
    .navbar {
        margin-bottom: 0px;
    }

    .main-content {
        padding-left: 0px;
        padding-right: 0px;
    }
{% endblock %}


{% block content %}
<div class="jumbotron custom-jumbotron">
    <h1>
        <strong>
            {% trans "Here you build your body !" %}<br>
            <small class="fg-white">
                {% trans "Already" %} {{ exercises_number }} {% trans "referenced exercise" %}{{ exercises_number|pluralize }}
            </small>
        </strong>

    </h1>
    <p>
        <a class="btn btn-primary btn-lg" href="{% url 'exercises_categories' %}" role="button">
            {% trans "Find exercises by categories" %}
        </a>
        <a class="btn btn-danger btn-lg" href="{% url 'exercises_muscles' %}" role="button">
            {% trans "Find exercises by muscles" %}
        </a>
    </p>
</div>
<div class="row custom-yellow">
    <div class="col-lg-2"></div>
    <div class="col-lg-6 fg-white text-justify">
        <h2>{% trans 'Help us to improve' %} <strong class="underline">{% trans 'your' %}</strong> {% trans 'website' %}</h2>
        <h4>{% trans 'Contribute' %}</h4>
        <p>
            {% trans 'Contribute to a great project. Share your knowledge, your exercises and your workout' %}<br>
            {% trans 'Become a content contributor, write content, share your experiences.' %}<br>
            {% trans 'Become a developer, fork this project, add features, fix a bug, and send a pull request' %}<br>
            <a class="badge badge-important" href="mailto:herveberaud.pro@gmail.com">{% trans "Enroll you now !" %}</a>
        </p>
        <h4>{% trans 'Make a wish !' %}</h4>
        <p>
            {% trans 'Propose new features, send any ideas we will study it !' %}
        </p>
        <h4>{% trans 'Anyone can help-us !' %}</h4>
        <p>{% trans 'Really,' %} <strong>{% trans 'ANYONE' %}</strong>
            {% trans 'can do something to help make The Street Workout Database better and greater!' %}</p>
    </div>
    <div class="col-lg-2 no-padding">
        <img src="{% static 'img/design/we-want-you.png' %}" class="img-xxl">
    </div>
</div>
<div class="text-center border-bottom-gray">
    <h2>{% trans "Retrieve a large variety of body weight exercises" %}</h2>
    <img src="{% static 'img/design/index1.jpg' %}" alt="" class="img-circle img-xl"/>
    <img src="{% static 'img/design/index2.jpg' %}" class="img-circle img-xl"/>
    <img src="{% static 'img/design/index3.jpg' %}" class="img-circle img-xl"/>
    <p class="text-xl padding-top-xl">
        {% trans 'The Street Workout Database is built by an enthusiast for enthusiasts' %}
    </p>
</div>
<div class="text-center padding-top-xl">
    <h2>{% trans "This website is entirely free" %}</h2>
    <img src="{% static 'img/design/no-money.png' %}" alt="" class="img-xl"/>
    <p class="text-xl padding-top-xl">
        {% trans "Save money and have fun with an open content" %}
    </p>
</div>
{% endblock %}