{% load i18n %}
{% load staticfiles %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}

{% include "common_tags/grid-list-gallery-menu.html" %}

{% if items %}
    <div class="grid-list-gallery" xmlns="http://www.w3.org/1999/html">
        {% comment %}************* Grid *****************{% endcomment %}
        <section id="exercises-grid">
            {% for item in items %}
                <div class="col-md-3
                            no-padding-left
                            padding-top-xs
                            {% if display_level %}{{ item.information.level }}{% endif %}">
                    <section id="{{ item.information.slug }}" class="panel panel-default grid"
                        {% if item.main_image %}
                        style="background-image: url('{% get_media_prefix %}{{ item.main_image.image }}');"
                        {% endif %}>
                        {% if shortcut_menu %}
                            <div class="btn-group right padding-bottom-xl"
                                 role="group" aria-label="exercise-explorer">
                                <a href="{% url 'exercise_videos' slug=item.information.slug %}"
                                   title="{% trans 'videos' %}"
                                    data-toggle="tooltip" data-placement="right"
                                   class="btn btn-default">
                                    <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                                </a>
                                <a href="{% url 'exercise_images' slug=item.information.slug %}"
                                   title="{% trans 'Images' %}"
                                    data-toggle="tooltip" data-placement="right"
                                   class="btn btn-default">
                                    <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                                </a>
                            </div>
                        {% endif %}
                        {% if display_level %}
                            <span class="left diagonal-label padding-top-xl">
                                {% if item.information.level == "easy" %}
                                    <span class="btn btn-success btn-xs"
                                          title="{% trans 'For all' %}">
                                        {% trans 'Easy Level' %}
                                    </span>
                                {% elif item.information.level == "medium" %}
                                    <span class="btn btn-warning btn-xs"
                                          title="{% trans 'For anyone intermediate and people of advanced level' %}">
                                        {% trans 'Medium Level' %}
                                    </span>
                                {% else %}
                                    <span class="btn btn-danger btn-xs"
                                          title="For people of advanced level">
                                        {% trans 'Hard Level' %}
                                    </span>
                                {% endif %}
                            </span>
                        {% endif %}
                        <div class="panel-footer">
                            <h4>
                                <button type="button" class="btn btn-default right"
                                    title="{% trans 'Description' %}"
                                    data-toggle="popover"
                                    data-content="{{ item.information.description|truncatewords:15 }}">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </button>
                                {% if semantic_type == 'exercise' %}
                                    <a href="{% url 'exercise' slug=item.information.slug %}">
                                        {{ item.information.name|capfirst }}
                                    </a>
                                {% elif semantic_type == 'category' %}
                                    <a href="{% url 'exercises_category' slug=item.information.slug %}">
                                        {{ item.information.name|capfirst }}
                                        <span class="badge" title="Available variations for this category">
                                            {{ item.total_exercises }}
                                        </span>
                                    </a>
                                {% endif %}
                            </h4>
                        </div>
                    </section>
                </div>
            {% endfor %}
        </section>
        {% comment %}************ List ****************{% endcomment %}
        <section id="exercises-list" class="hidden">
            {% for item in items %}
                {% if forloop.first %}
                    <table class="table table-hover">
                        <tbody>
                {% endif %}
                {% if display_level %}
                    <tr class="{{ item.information.level }}">
                        <td class="
                            {% if item.information.level == "easy" %}
                                easy-level-color
                            {% elif item.information.level == "medium" %}
                                medium-level-color
                            {% else %}
                                hard-level-color
                            {% endif %}
                            "></td>
                {% else %}
                    <tr>
                {% endif %}
                    <td>
                        {% if semantic_type == 'exercise' %}
                            <a class="left" href="{% url 'exercise' slug=item.information.slug %}">
                        {% elif semantic_type == 'category' %}
                            <a href="{% url 'exercises_category' slug=item.information.slug %}">
                        {% endif %}
                            {% if item.main_image %}
                                <img src="{% get_media_prefix %}{{ item.main_image.image }}"
                                     alt="{{ item.main_image.alt }}"
                                     class="pull-left img-thumbnail img-xs img-xs-min-width">
                            {% else %}
                                <img src="{% static "img/design/image-not-available.png" %}"
                                     class="pull-left img-thumbnail img-xs img-xs-min-width">
                            {% endif %}
                        </a>
                        {% if display_level %}
                            <span class="right padding-top-xs">
                                {% if item.information.level == "easy" %}
                                    <span class="btn btn-success btn-xs margin-right-xs"
                                          title="{% trans 'For all' %}">
                                        {% trans 'Easy Level' %}
                                    </span>
                                {% elif item.information.level == "medium" %}
                                    <span class="btn btn-warning btn-xs margin-right-xs"
                                          title="{% trans 'For anyone intermediate and people of advanced level' %}">
                                        {% trans 'Medium Level' %}
                                    </span>
                                {% else %}
                                    <span class="btn btn-danger btn-xs margin-right-xs"
                                          title="For people of advanced level">
                                        {% trans 'Hard Level' %}
                                    </span>
                                {% endif %}
                            </span>
                        {% endif %}
                        {% if semantic_type == 'exercise' %}
                            <a href="{% url 'exercise' slug=item.information.slug %}">
                        {% elif semantic_type == 'category' %}
                            <a href="{% url 'exercises_category' slug=item.information.slug %}">
                        {% endif %}
                            <h4 class="media-heading padding-top-xs">
                                {{ item.information.name|capfirst }}
                                <span class="badge" title="Available variations for this category">
                                    {{ item.total_exercises }}
                                </span>
                            </h4>
                        </a>
                        <p>
                            {{ item.information.description|truncatechars:150|capfirst }}
                            {% if semantic_type == 'exercise' %}
                                <a href="{% url 'exercise' slug=item.information.slug %}">{% trans "Read More" %}</a>
                            {% elif semantic_type == 'category' %}
                                <a href="{% url 'exercises_category' slug=item.information.slug %}"></a>
                            {% endif %}
                        </p>
                    </td>
                    {% if shortcut_menu %}
                    <td>
                        <div class="btn-group padding-bottom-xs" role="group" aria-label="exercise-explorer">
                            <a href="{% url 'exercise_how_to' slug=item.information.slug %}"
                               title="{% trans "See how to do a" %} {{ item.information.name|capfirst }}"
                               class="btn btn-default">
                                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'exercise_videos' slug=item.information.slug %}"
                               title="{% trans "Watch" %} {{ item.information.name|capfirst }} {% trans 'videos' %}"
                               class="btn btn-default">
                                <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'exercise_images' slug=item.information.slug %}"
                               title="{% trans "Watch" %} {{ item.information.name|capfirst }} {% trans 'images' %}"
                               class="btn btn-default">
                                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                            </a>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% if forloop.last %}
                        </tbody>
                    </table>
                {% endif %}
            {% endfor %}
        </section>
    </div>
{% endif %}