{% load i18n %}
<ul class="dropdown-menu">
    {% if categories %}
        <li><a href="{% url 'exercises_categories' %}">{% trans "Show By Categories" %}</a></li>
        {% for category in categories %}
            <li>
                <a href="{% url 'exercises_category' slug=category.slug %}">
                    {{ category.name|capfirst }}
                </a>
            </li>
        {% endfor %}
    {% endif %}
    {% if categories %}
        <li role="separator" class="divider"></li>
    {% endif %}
</ul>