{% load i18n %}
{% load static %}

{% for video in videos %}
    <a class="popup-opener" id="{{ forloop.counter0 }}" href="#" data-toggle="modal" data-target="#modalVideoViewer">
        <img src="http://img.youtube.com/vi/{{ video.youtube_id }}/0.jpg"
             alt="{{ video.alt }}"
             class="img-thumbnail img-xl no-margin-left-right">
    </a>
{% endfor %}

<div class="modal fade" id="modalVideoViewer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="modalVideoViewerTitle" class="modal-title"></h4>
            </div>
            <div class="modal-body text-justify">
                <iframe id="modalVideoViewerVideo" width="" height=""
                        src=""></iframe>
                <p id="modalVideoViewerDescription"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
/****
* JSON => List all videos ordered by thumbnail display order
****/
{% for video in videos %}
    {% if forloop.first %}
        var gallery_content = '{"gallery" : [' +
    {% endif %}
    '{"title" : "{{ video.name|capfirst }}", "description" : "{{ video.description }}", ' +
    '"alt" : "{{ video.alt }}", "url" : "{{ video.url }}", "player_height" : "{{ video.player_height }}",' +
    '"player_width" : "{{ video.player_width }}", "youtube_id" : "{{ video.youtube_id }}"}' +
    {% if not forloop.last %}
        ',' +
    {% else %}
        ']}';
    {% endif %}
{% endfor %}

var json_videos_data = JSON.parse(gallery_content);

/**
 * Listen display event on modalVideoViewer.
 * Get ID of clicked thumbnail and update modal content
 */
$('#modalVideoViewer').on('show.bs.modal', function (event) {
    updateVideoViewerContent(event.relatedTarget.id);
});

/**
 * Select the corresponding JSON entry (by index) and update modal content.
 * @param video_id The JSON entry index for the current video
 */
function updateVideoViewerContent(video_id) {
    var json_entry = json_videos_data.gallery[video_id];
    document.getElementById("modalVideoViewerTitle").innerHTML = json_entry.title;
    document.getElementById("modalVideoViewerDescription").innerHTML = json_entry.description;
    document.getElementById("modalVideoViewerVideo").width = json_entry.player_width;
    document.getElementById("modalVideoViewerVideo").height = json_entry.player_height;
    document.getElementById("modalVideoViewerVideo").src = json_entry.url;
}
</script>