{% load i18n %}
{% load static %}
<style>
.video-container {
    position:relative;
}

.video-duration {
    position: absolute;
    bottom: -90px;
    left: 20px;
    padding : 2px;
    background-color: black;
    color: white;
    float: left;
    margin-top: 10px;
    opacity: 0.75;
}

.video-play {
    position: absolute;
    horiz-align: right;
    bottom: -95%;
    left: 100px;
    padding : 2px;
    color: white;
    float: left;
    margin-top: 10px;
    height: 50px;
    width: 50px;
    background-image: url("{% static 'img/design/play.png' %}");
}

.video-container:hover .video-play {
    background-image: url("{% static 'img/design/play-over.png' %}");
}
</style>

{% for video in videos %}
        <a class="video-container popup-opener"
           id="{{ forloop.counter0 }}"
           href="#"
           data-toggle="modal"
           data-target="#modalVideoViewer"
           title="{% trans 'Click to see this video' %}" >
            <img src="http://img.youtube.com/vi/{{ video.youtube_id }}/0.jpg"
                 alt="{{ video.alt }}"
                 class="img-thumbnail img-xl no-margin-left-right">

            <span class="video-duration">{{ video.duration }}</span>
            <span class="video-play">
            </span>
        </a>
{% endfor %}

<div class="modal fade" id="modalVideoViewer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="modalVideoViewerTitle" class="modal-title"></h4>
            </div>
            <div class="modal-body text-justify">
                <iframe id="modalVideoViewerVideo" width="" height=""
                        src="" frameborder="0" allowfullscreen></iframe>
                <a id="modalVideoViewerOriginalLink" href=""></a>
                <hr>
                <p id="modalVideoViewerDescription"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
/****
* JSON => List all videos ordered by thumbnail display order
****/
{% for video in videos %}
    {% if forloop.first %}
        var gallery_content = '{"gallery" : [' +
    {% endif %}
    '{"title" : "{{ video.name|capfirst }}", ' +
    '"description" : "{{ video.description }}", ' +
    '"alt" : "{{ video.alt }}", ' +
    '"embedded_url" : "{{ video.embedded_url }}", ' +
    '"player_height" : "{{ video.player_height }}", ' +
    '"player_width" : "{{ video.player_width }}", ' +
    '"youtube_id" : "{{ video.youtube_id }}", ' +
    '"origin_url" : "{{ video.origin_url }}"}' +
    {% if not forloop.last %}
        ',' +
    {% else %}
        ']}';
    {% endif %}
{% endfor %}

</script>