{% extends "common/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
{% load exercises_tags %}

{% block title %}{% trans "List Of Exercises Variations For" %} {{ category|capfirst }} {% trans "Category" %}{% endblock %}
{% block meta_description %}
    {% trans "Variations exercises: " %}
    {{ category.common_page_attribute.description }}
{% endblock %}
{% block meta_keywords %}
    {% trans "exercises, variations," %}{{ category.common_page_attribute.keywords }}
{% endblock %}

{% block main_menu_exercises_active %}
<li class="dropdown active">
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'exercises_categories' %}">{% trans "Categories" %}</a></li>
        <li><a href="{% url 'exercises_category' slug=category.slug %}">{{ category|capfirst }}</a></li>
        <li class="active">{% trans "Variations Exercises" %}</li>
    </ol>
    <h1>
        {{ category|capfirst }} {% trans "Category" %}
    </h1>

    {% show_exercises_category_menu category "exercises" %}

    <menu class="right fixed">
        <div class="btn-group-vertical" role="group" aria-label="exercise-explorer">
            <button type="button" title="{% trans "Display Exercises In Grid Format" %}"
               data-toggle="tooltip" data-placement="bottom"
               id="show-grid" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
            </button>
            <button type="button" title="{% trans "Display Exercises In List Format" %}"
               data-toggle="tooltip" data-placement="bottom"
               id="show-list" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            </button>
            <button type="button" title="{% trans "Show All Levels Exercises" %}"
               data-toggle="tooltip" data-placement="bottom"
               id="level-all" class="btn btn-default btn-lg text-left">
                <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
            </button>
            <button type="button" title="{% trans "Shown Only Easy Level Exercises" %}"
               data-toggle="tooltip" data-placement="bottom"
               id="level-easy" class="btn btn-success btn-lg text-left">
                <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
            </button>
            <button type="button" href="#" title="{% trans "Shown Only Medium Level Exercises" %}"
               data-toggle="tooltip" data-placement="bottom"
               id="level-medium" class="btn btn-warning btn-lg text-left" >
                <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
            </button>
            <button type="button" title="{% trans "Shown Only Hard Level Exercises" %}"
               data-toggle="tooltip" data-placement="bottom"
               id="level-hard" class="btn btn-danger btn-lg text-left">
                <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
            </button>
        </div>
        <script>
            $('#show-list').click(function() {
                document.getElementById("exercises-grid").className = "hidden";
                document.getElementById("exercises-list").className = "visible";
                document.getElementById("show-list").className = "btn btn-primary btn-lg";
                document.getElementById("show-grid").className = "btn btn-default btn-lg";
            });
            $('#show-grid').click(function() {
                document.getElementById("exercises-grid").className = "visible";
                document.getElementById("exercises-list").className = "hidden";
                document.getElementById("show-list").className = "btn btn-default btn-lg";
                document.getElementById("show-grid").className = "btn btn-primary btn-lg";
            });
            $('#level-all').click(function() {
                $('.easy').css('display', 'block');
                $('.medium').css('display', 'block');
                $('.hard').css('display', 'block');
            });
            $('#level-easy').click(function() {
                $('.easy').css('display', 'block');
                $('.medium').css('display', 'none');
                $('.hard').css('display', 'none');
            });
            $('#level-medium').click(function() {
                $('.easy').css('display', 'none');
                $('.medium').css('display', 'block');
                $('.hard').css('display', 'none');
            });
            $('#level-hard').click(function() {
                $('.easy').css('display', 'none');
                $('.medium').css('display', 'none');
                $('.hard').css('display', 'block');
            });
        </script>
    </menu>
    {% if exercises_list %}
        <section id="exercises-grid">
            {% for exercise in exercises_list %}
                <div class="col-md-3 no-padding-left padding-top-xs {{ exercise.exercise.level }}">
                    <section id="{{ exercise.exercise.slug }}" class="bg-img-adjust panel panel-default"
                        {% if exercise.main_image %}
                            style="background: url('{% get_media_prefix %}{{ exercise.main_image.image }}') no-repeat;
                                   background-size: 100% 100%;
                                   background-position: center;"
                        {% endif %}
                            data-toggle="popover"
                             title="Exercise Description"
                             data-content="{{ exercise.exercise.description|truncatewords:15 }}"
                        >
                        <div class="btn-group-vertical right padding-bottom-xl" role="group" aria-label="exercise-explorer">
                            <a href="{% url 'exercise_how_to' slug=exercise.exercise.slug %}"
                               title="{% trans "How-to" %}"
                                data-toggle="tooltip" data-placement="right"
                               class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'exercise_videos' slug=exercise.exercise.slug %}"
                               title="{% trans 'videos' %}"
                                data-toggle="tooltip" data-placement="right"
                               class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'exercise_images' slug=exercise.exercise.slug %}"
                               title="{% trans 'Images' %}"
                                data-toggle="tooltip" data-placement="right"
                               class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                            </a>
                        </div>
                        <span class="left diagonal-label padding-top-xl">
                            {% if exercise.exercise.level == "easy" %}
                                <span class="btn btn-success btn-xs"
                                      title="{% trans 'For all' %}">
                                    {% trans 'Easy Level' %}
                                </span>
                            {% elif exercise.exercise.level == "medium" %}
                                <span class="btn btn-warning btn-xs"
                                      title="{% trans 'For anyone intermediate and people of advanced level' %}">
                                    {% trans 'Medium Level' %}
                                </span>
                            {% else %}
                                <span class="btn btn-danger btn-xs"
                                      title="For people of advanced level">
                                    {% trans 'Hard Level' %}
                                </span>
                            {% endif %}
                        </span>
                        <article class="panel-body">
                        </article>
                        <div class="panel-footer small-background-opacity">
                            <button type="button" class="btn btn-default right"
                                    title="{% trans 'Display/Hide a short description' %}"
                                    data-toggle="tooltip" data-placement="bottom">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                            <h4>
                                <a href="{% url 'exercise' slug=exercise.exercise.slug %}" >
                                    {{ exercise.exercise|capfirst }}
                                </a>
                            </h4>
                        </div>
                    </section>
                </div>
            {% endfor %}
        </section>
        <section id="exercises-list" class="hidden">
            {% for exercise in exercises_list %}
                {% if forloop.first %}
                    <table class="table table-hover">
                        <tbody>
                {% endif %}
                <tr class="{{ exercise.exercise.level }}">
                    <td class="{% if exercise.exercise.level == "easy" %}
                                    easy-level-color
                                {% elif exercise.exercise.level == "medium" %}
                                    medium-level-color
                                {% else %}
                                    hard-level-color
                                {% endif %}
                            "></td>
                    <td>
                        <a class="left" href="{% url 'exercise' slug=exercise.exercise.slug %}">
                            {% if exercise.main_image %}
                                <img src="{% get_media_prefix %}{{ exercise.main_image.image }}"
                                     alt="{{ exercise.main_image.alt }}"
                                     class="pull-left img-thumbnail img-xs img-xs-min-width">
                            {% else %}
                                <img src="{% static "img/design/image-not-available.png" %}"
                                     alt="{{ exercise.main_image.alt }}"
                                     class="pull-left img-thumbnail img-xs img-xs-min-width">
                            {% endif %}
                        </a>
                        <span class="right padding-top-xs">
                            {% if exercise.exercise.level == "easy" %}
                                <span class="btn btn-success btn-xs margin-right-xs"
                                      title="{% trans 'For all' %}">
                                    {% trans 'Easy Level' %}
                                </span>
                            {% elif exercise.exercise.level == "medium" %}
                                <span class="btn btn-warning btn-xs margin-right-xs"
                                      title="{% trans 'For anyone intermediate and people of advanced level' %}">
                                    {% trans 'Medium Level' %}
                                </span>
                            {% else %}
                                <span class="btn btn-danger btn-xs margin-right-xs"
                                      title="For people of advanced level">
                                    {% trans 'Hard Level' %}
                                </span>
                            {% endif %}
                        </span>
                        <a href="{% url 'exercise' slug=exercise.exercise.slug %}">
                            <h4 class="media-heading padding-top-xs">{{ exercise.exercise|capfirst }}</h4>
                        </a>
                        <p>
                            {{ exercise.exercise.description|truncatechars:150|capfirst }}
                            <a href="{% url 'exercise' slug=exercise.exercise.slug %}">{% trans "Read More" %}</a>
                        </p>
                    </td>
                    <td>
                        <div class="btn-group padding-bottom-xs" role="group" aria-label="exercise-explorer">
                            <a href="{% url 'exercise_how_to' slug=exercise.exercise.slug %}"
                               title="{% trans "See how to do a" %} {{ exercise.exercise|capfirst }}"
                               class="btn btn-default">
                                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'exercise_videos' slug=exercise.exercise.slug %}"
                               title="{% trans "Watch" %} {{ exercise.exercise|capfirst }} {% trans 'videos' %}"
                               class="btn btn-default">
                                <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'exercise_images' slug=exercise.exercise.slug %}"
                               title="{% trans "Watch" %} {{ exercise.exercise|capfirst }} {% trans 'images' %}"
                               class="btn btn-default">
                                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                            </a>
                        </div>
                    </td>
                </tr>
                {% if forloop.last %}
                        </tbody>
                    </table>
                {% endif %}
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}<!-- End Content -->