{% extends "common/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
{% load exercises_tags %}
{% load common_tags %}

{% block title %}{% trans "Images Related To" %} {{ category|capfirst }} {% trans "Category" %}{% endblock %}

{% block main_menu_exercises_active %}
<li class="dropdown active">
{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{% url 'exercises_categories' %}">{% trans "Categories" %}</a></li>
    <li><a href="{% url 'exercises_category' slug=category.slug %}">{{ category|capfirst }}</a></li>
    <li class="active">{% trans "Images" %}</li>
</ol>
<h1>
    {{ category|capfirst }} {% trans "Category" %}
</h1>

{% show_exercises_category_menu category "images" %}

<section>
    {% images_gallery images %}
</section>
{% endblock %}<!-- End Content -->