{% extends "common/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
{% load exercises_tags %}
{% load ui %}

{% block title %}{{ exercise|capfirst }} {% trans "Exercise" %}{% endblock %}
{% block meta_description %}{{ exercise.common_page_attribute.description }}{% endblock %}
{% block meta_keywords %}{{ exercise.common_page_attribute.keywords }}{% endblock %}

{% block main_menu_exercises_active %}
<li class="dropdown active">
{% endblock %}

{% block content %}
    <h1>{{ exercise|capfirst }}
        <span class="label label-{{ exercise.level }}">{{ exercise.level }}</span>
        <small>
            <a href="{% url "exercises_category_exercises" slug=exercise.category.slug %}">
                ({{ exercise.category }} category)
            </a>
        </small>
    </h1>
    {% show_exercise_menu exercise "description" %}
    {% if main_exercise_set %}
        {% for set in main_exercise_set %}
            {% if forloop.first %}
            <div class="margin col-md-3 right border-left-gray raise">
                <h3 class="text-right sub-section-title">{% trans "How to do a" %} {{ exercise }} ?</h3>
            {% endif %}
                <div class="row margin-bottom-xs grid blur-out"
                     style="background-image: url('{% get_media_prefix %}{{ set.step.image }}');
                            background-repeat: no-repeat;
                            background-size: 100% 100%;
                            background-position: center;">
                    <div class="col-md-3 medium padding-top-xl">
                        <svg>
                            <circle
                                    cx="25"
                                    cy="25"
                                    r="20"
                                    stroke="gray"
                                    stroke-width="1"
                                    fill="{% cycle "#FF0200" "#FF3600" "#FE7500" "#FFAE00" "#FEE000" "#F4FF00" "#BCFE00" "#7FFF00" %}" />
                            <text x="17" y="35" font-size="30" fill="black" >{{ forloop.counter }}</text>
                        </svg>
                    </div>
                    <div class="col-sm-9 text-right padding-top-xs">
                        <a class="btn btn-default show-step-description"
                           role="button" data-toggle="collapse" href="#collapseDescription{{ forloop.counter0 }}"
                           aria-expanded="false" aria-controls="collapseDescription{{ forloop.counter0 }}"
                           id="collapseStepBtn{{ forloop.counter0 }}">
                            <span id="collapseStepBtnSpan{{ forloop.counter0 }}"
                                  class="fa fa-expand"></span>
                        </a>
                    </div>
                </div>
                <div id="collapseDescription{{ forloop.counter0 }}" class="collapse">
                    <div class="well text-justify">
                        <h5><strong>{{ set.step.name }}</strong></h5>
                        <p class="break-words">{{ set.step.description }}</p>
                    </div>
                </div>
            {% if forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% show_muscles_mapping exercise %}

    <section id="description">
        {% if exercise.created_by %}
            <p class="fg-grey">{% trans 'Added by: ' %}{{ exercise.created_by }}</p>
        {% endif %}
        <p class="text-justify text-xl">{% autoescape off %}{{ exercise.description|capfirst }}{% endautoescape %}</p>
    </section>

    {% if exercise.related_exercises.all %}
        <hr>
        <section id="related-exercise right">
            <h4><u>{% trans "Related Exercises" %}</u></h4>
            {% for related_exercise in exercise.related_exercises.all %}
                {% if related_exercise.active %}
                    {% exercise_preview related_exercise %}
                {% endif %}
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}<!-- End Content -->