{% extends "common/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
{% load common_tags %}

{% block title %}{% trans "Exercises Categories Overview" %}{% endblock %}
{% block meta_description %}
    {% trans "List all categories exercises and variations by topic" %}
{% endblock %}
{% block meta_keywords %}
    {% trans "topic, subject, variations, categories, category, exercises, exercise" %}
{% endblock %}

{% block main_menu_exercises_active %}
<li class="dropdown active">
{% endblock %}

{% block content %}

<h1>
    {% trans "Exercises Categories List" %}<br>
    <small>{{ categories|length }} {% trans "Defined" %} Categor{{ categories|pluralize:"y,ies" }} </small>
</h1>

{% grid_list_gallery categories display_level=False display_menu=True shortcut_menu=False semantic_type="category"%}

{% endblock %}<!-- End Content -->