{% load i18n %}
{% load staticfiles %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}

<menu class="right fixed">
    <div class="btn-group-vertical" role="group" aria-label="exercise-explorer">
        <button type="button" title="{% trans "Display Exercises In Grid Format" %}"
           data-toggle="tooltip" data-placement="bottom"
           id="show-grid" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
        </button>
        <button type="button" title="{% trans "Display Exercises In List Format" %}"
           data-toggle="tooltip" data-placement="bottom"
           id="show-list" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        </button>
        {% if display_level %}
            <button type="button" title="{% trans "Show All Levels Exercises" %}"
               data-toggle="tooltip" data-placement="bottom"
               id="level-all" class="btn btn-default btn-lg text-left">
                <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
            </button>
            <button type="button" title="{% trans "Shown Only Easy Level Exercises" %}"
               data-toggle="tooltip" data-placement="bottom"
               id="level-easy" class="btn btn-success btn-lg text-left">
                <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
            </button>
            <button type="button" href="#" title="{% trans "Shown Only Medium Level Exercises" %}"
               data-toggle="tooltip" data-placement="bottom"
               id="level-medium" class="btn btn-warning btn-lg text-left" >
                <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
            </button>
            <button type="button" title="{% trans "Shown Only Hard Level Exercises" %}"
               data-toggle="tooltip" data-placement="bottom"
               id="level-hard" class="btn btn-danger btn-lg text-left">
                <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
            </button>
        {% endif %}
    </div>
</menu>