{% load i18n %}
{% load static %}

{% for image in images %}
    <a class="popup-opener"
       id="{{ forloop.counter0 }}"
       href="#"
       data-toggle="modal"
       data-target="#modalImageViewer"
       title="{% trans 'Click to enlarge' %}" >
        <img src="{% get_media_prefix %}{{ image.image }}"
             alt="{{ image.alt }}"
             class="img-thumbnail img-xl no-margin-left-right">
    </a>
{% endfor %}

<div class="modal fade" id="modalImageViewer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="modalImageViewerTitle" class="modal-title"></h4>
            </div>
            <div class="modal-body text-justify">
                <img id="modalImageViewerImage" src="" class="img-xxxl margin-bottom-xl" alt="">
                <p id="modalImageViewerDescription"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
/****
* JSON => List all images ordered by thumbnail display order
****/
{% for image in images %}
    {% if forloop.first %}
        var gallery_content = '{"gallery" : [' +
    {% endif %}
    '{"title" : "{{ image.name|capfirst }}", "description" : "{{ image.description }}", ' +
    '"alt" : "{{ image.alt }}", "image" : "{% get_media_prefix %}{{ image.image }}"} ' +
    {% if not forloop.last %}
        ',' +
    {% else %}
        ']}';
    {% endif %}
{% endfor %}

//---------------------
// Image Gallery
//---------------------
var json_images_data = JSON.parse(gallery_content);

/**
 * Listen display event on modalImageViewer.
 * Get ID of clicked thumbnail and update modal content
 */
$('#modalImageViewer').on('show.bs.modal', function (event) {
    updateImageViewerContent(event.relatedTarget.id);
});

/**
 * Select the corresponding JSON entry (by index) and update modal content.
 * @param image_id The JSON entry index for the current image
 */
function updateImageViewerContent(image_id) {
    var json_entry = json_images_data.gallery[image_id];
    document.getElementById("modalImageViewerTitle").innerHTML = json_entry.title;
    document.getElementById("modalImageViewerDescription").innerHTML = json_entry.description;
    document.getElementById("modalImageViewerImage").alt = json_entry.alt;
    document.getElementById("modalImageViewerImage").src = json_entry.image;
}
</script>